@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome to my Web Site!";
}
<div>
    <h1>Welcome to ASP.NET Razor</h1>
    <p>
        ASP.NET Web Pages make it easy to build powerful .NET based applications for the
        web.
    </p>
</div>
